<div class="card mb-4">
  {{ content.field_image }}
  <div class="card-body">
    <div class="small text-muted">{{ date }}</div>
    <h2 class="card-title h4">{{ label }}</h2>
    <p class="card-text">{{ content.body }}</p>
    <a class="btn btn-primary" href="{{ url }}">Read more →</a>
  </div>
</div>
